---
import Feature from "./components/Feature.astro";
import Number from "./components/Number.astro";
---
<ul class="space-y-3">
    <li class="flex items-center gap-3 sm:gap-4">
        <Number number={1}/>
        <Feature>Save Manga Titles & Links: Effortlessly store all the manga you follow.</Feature>
    </li>
    <li class="flex items-center gap-3 sm:gap-4">
        <Number number={2}/>
        <Feature>Track Chapter Progress: Add, manage, and update chapters as you read</Feature>
    </li>
    <li class="flex items-center gap-3 sm:gap-4">
        <Number number={3}/>
        <Feature>Smart Filters: Easily sort and search through your manga library</Feature>
    </li>
    <li class="flex items-center gap-3 sm:gap-4">
        <Number number={4}/>
        <Feature>Simple & Intuitive Interface: Built for manga lovers, by manga lovers</Feature>
    </li>
</ul>
