---
interface Props {
    number: number;
}
const {number} = Astro.props;
---
<div class="bg-[#FF3366] text-white px-4 py-2 w-12 h-12 flex items-center justify-center rounded-md font-bold">
    <span>{number}</span>
  </div>
  
