---
interface Props {
    href: string;
}

const { href } = Astro.props;
---
<a href={href} type="button" class="relative flex items-center justify-center h-12 w-40 overflow-hidden border border-[#550055] text-white shadow-2xl transition-all duration-200 before:absolute before:inset-0 before:bg-[#550055] before:transition-all before:duration-300 before:ease-out hover:before:h-40 hover:before:w-40 hover:before:opacity-50 hover:shadow-[#440044]">
    <span class="flex items-center relative z-10">
        <slot name="img"></slot>
        <span class="ml-2">
            <slot name="name"></slot>
        </span>
    </span>
</a>

