
<nav class="border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Manga Library</span>
      </a>
        <ul class="flex flex-row font-medium rounded-lg space-x-8 mt-0 border-0">
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 rounded">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 rounded">Download</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 rounded">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 rounded">Versions</a>
          </li>
        </ul>
    </div>
  </nav>
  