<a href={`/`} class="flex items-center space-x-2 sm:space-x-4 hover:opacity-80 transition-opacity">
    <img src="https://i.imgur.com/j3nvgV6.png" alt="Manga Library Logo" class="w-8 h-8 sm:w-10 sm:h-10 bg-black rounded-full dark:bg-transparent" />
    <span class="text-lg sm:text-xl font-black">Manga Library</span>
</a>