---
interface Props {
    Href: string,
    isMobile?: boolean
} 
const {Href, isMobile = false} = Astro.props;
---
<a href={Href} class=`font-bold hover:bg-[#FF3366] hover:text-white px-4 py-2 transition-colors block ${isMobile ? 'border-b-2 border-black dark:border-gray-200' : '' }`>
    <slot />
</a>